/* Pasque by Gabriel Fontes (https://github.com/Misterio77) */

.base00-bg { background-color: #271C3A; }
.base01-bg { background-color: #100323; }
.base02-bg { background-color: #3E2D5C; }
.base03-bg { background-color: #5D5766; }
.base04-bg { background-color: #BEBCBF; }
.base05-bg { background-color: #DEDCDF; }
.base06-bg { background-color: #EDEAEF; }
.base07-bg { background-color: #BBAADD; }
.base08-bg { background-color: #A92258; }
.base09-bg { background-color: #918889; }
.base0A-bg { background-color: #804ead; }
.base0B-bg { background-color: #C6914B; }
.base0C-bg { background-color: #7263AA; }
.base0D-bg { background-color: #8E7DC6; }
.base0E-bg { background-color: #953B9D; }
.base0F-bg { background-color: #59325C; }

.base00 { color: #271C3A; }
.base01 { color: #100323; }
.base02 { color: #3E2D5C; }
.base03 { color: #5D5766; }
.base04 { color: #BEBCBF; }
.base05 { color: #DEDCDF; }
.base06 { color: #EDEAEF; }
.base07 { color: #BBAADD; }
.base08 { color: #A92258; }
.base09 { color: #918889; }
.base0A { color: #804ead; }
.base0B { color: #C6914B; }
.base0C { color: #7263AA; }
.base0D { color: #8E7DC6; }
.base0E { color: #953B9D; }
.base0F { color: #59325C; }
