/* Catppuccin by nbn22385 */

.base00-bg { background-color: #1E1E2E; }
.base01-bg { background-color: #302D41; }
.base02-bg { background-color: #302D41; }
.base03-bg { background-color: #575268; }
.base04-bg { background-color: #575268; }
.base05-bg { background-color: #D9E0EE; }
.base06-bg { background-color: #C9CBFF; }
.base07-bg { background-color: #F5E0DC; }
.base08-bg { background-color: #F28FAD; }
.base09-bg { background-color: #E8A2AF; }
.base0A-bg { background-color: #FAE3B0; }
.base0B-bg { background-color: #ABE9B3; }
.base0C-bg { background-color: #89DCEB; }
.base0D-bg { background-color: #96CDFB; }
.base0E-bg { background-color: #DDB6F2; }
.base0F-bg { background-color: #DDB6F2; }

.base00 { color: #1E1E2E; }
.base01 { color: #302D41; }
.base02 { color: #302D41; }
.base03 { color: #575268; }
.base04 { color: #575268; }
.base05 { color: #D9E0EE; }
.base06 { color: #C9CBFF; }
.base07 { color: #F5E0DC; }
.base08 { color: #F28FAD; }
.base09 { color: #E8A2AF; }
.base0A { color: #FAE3B0; }
.base0B { color: #ABE9B3; }
.base0C { color: #89DCEB; }
.base0D { color: #96CDFB; }
.base0E { color: #DDB6F2; }
.base0F { color: #DDB6F2; }
