/* Rosé Pine by Emilia Dunfelt <sayhi@dunfelt.se> */

.base00-bg { background-color: #191724; }
.base01-bg { background-color: #1f1d2e; }
.base02-bg { background-color: #26233a; }
.base03-bg { background-color: #555169; }
.base04-bg { background-color: #6e6a86; }
.base05-bg { background-color: #e0def4; }
.base06-bg { background-color: #f0f0f3; }
.base07-bg { background-color: #c5c3ce; }
.base08-bg { background-color: #eb6f92; }
.base09-bg { background-color: #f6c177; }
.base0A-bg { background-color: #f6c177; }
.base0B-bg { background-color: #31748f; }
.base0C-bg { background-color: #ebbcba; }
.base0D-bg { background-color: #9ccfd8; }
.base0E-bg { background-color: #c4a7e7; }
.base0F-bg { background-color: #e5e5e5; }

.base00 { color: #191724; }
.base01 { color: #1f1d2e; }
.base02 { color: #26233a; }
.base03 { color: #555169; }
.base04 { color: #6e6a86; }
.base05 { color: #e0def4; }
.base06 { color: #f0f0f3; }
.base07 { color: #c5c3ce; }
.base08 { color: #eb6f92; }
.base09 { color: #f6c177; }
.base0A { color: #f6c177; }
.base0B { color: #31748f; }
.base0C { color: #ebbcba; }
.base0D { color: #9ccfd8; }
.base0E { color: #c4a7e7; }
.base0F { color: #e5e5e5; }
