/* Silk Dark by Gabriel Fontes (https://github.com/Misterio77) */

.base00-bg { background-color: #0e3c46; }
.base01-bg { background-color: #1D494E; }
.base02-bg { background-color: #2A5054; }
.base03-bg { background-color: #587073; }
.base04-bg { background-color: #9DC8CD; }
.base05-bg { background-color: #C7DBDD; }
.base06-bg { background-color: #CBF2F7; }
.base07-bg { background-color: #D2FAFF; }
.base08-bg { background-color: #fb6953; }
.base09-bg { background-color: #fcab74; }
.base0A-bg { background-color: #fce380; }
.base0B-bg { background-color: #73d8ad; }
.base0C-bg { background-color: #3fb2b9; }
.base0D-bg { background-color: #46bddd; }
.base0E-bg { background-color: #756b8a; }
.base0F-bg { background-color: #9b647b; }

.base00 { color: #0e3c46; }
.base01 { color: #1D494E; }
.base02 { color: #2A5054; }
.base03 { color: #587073; }
.base04 { color: #9DC8CD; }
.base05 { color: #C7DBDD; }
.base06 { color: #CBF2F7; }
.base07 { color: #D2FAFF; }
.base08 { color: #fb6953; }
.base09 { color: #fcab74; }
.base0A { color: #fce380; }
.base0B { color: #73d8ad; }
.base0C { color: #3fb2b9; }
.base0D { color: #46bddd; }
.base0E { color: #756b8a; }
.base0F { color: #9b647b; }
