/* Humanoid dark by Thomas (tasmo) Friese */

.base00-bg { background-color: #232629; }
.base01-bg { background-color: #333b3d; }
.base02-bg { background-color: #484e54; }
.base03-bg { background-color: #60615d; }
.base04-bg { background-color: #c0c0bd; }
.base05-bg { background-color: #f8f8f2; }
.base06-bg { background-color: #fcfcf6; }
.base07-bg { background-color: #fcfcfc; }
.base08-bg { background-color: #f11235; }
.base09-bg { background-color: #ff9505; }
.base0A-bg { background-color: #ffb627; }
.base0B-bg { background-color: #02d849; }
.base0C-bg { background-color: #0dd9d6; }
.base0D-bg { background-color: #00a6fb; }
.base0E-bg { background-color: #f15ee3; }
.base0F-bg { background-color: #b27701; }

.base00 { color: #232629; }
.base01 { color: #333b3d; }
.base02 { color: #484e54; }
.base03 { color: #60615d; }
.base04 { color: #c0c0bd; }
.base05 { color: #f8f8f2; }
.base06 { color: #fcfcf6; }
.base07 { color: #fcfcfc; }
.base08 { color: #f11235; }
.base09 { color: #ff9505; }
.base0A { color: #ffb627; }
.base0B { color: #02d849; }
.base0C { color: #0dd9d6; }
.base0D { color: #00a6fb; }
.base0E { color: #f15ee3; }
.base0F { color: #b27701; }
