/* tender by Jacobo Tabernero (https://github/com/jacoborus/tender.vim) */

.base00-bg { background-color: #282828; }
.base01-bg { background-color: #383838; }
.base02-bg { background-color: #484848; }
.base03-bg { background-color: #4c4c4c; }
.base04-bg { background-color: #b8b8b8; }
.base05-bg { background-color: #eeeeee; }
.base06-bg { background-color: #e8e8e8; }
.base07-bg { background-color: #feffff; }
.base08-bg { background-color: #f43753; }
.base09-bg { background-color: #dc9656; }
.base0A-bg { background-color: #ffc24b; }
.base0B-bg { background-color: #c9d05c; }
.base0C-bg { background-color: #73cef4; }
.base0D-bg { background-color: #b3deef; }
.base0E-bg { background-color: #d3b987; }
.base0F-bg { background-color: #a16946; }

.base00 { color: #282828; }
.base01 { color: #383838; }
.base02 { color: #484848; }
.base03 { color: #4c4c4c; }
.base04 { color: #b8b8b8; }
.base05 { color: #eeeeee; }
.base06 { color: #e8e8e8; }
.base07 { color: #feffff; }
.base08 { color: #f43753; }
.base09 { color: #dc9656; }
.base0A { color: #ffc24b; }
.base0B { color: #c9d05c; }
.base0C { color: #73cef4; }
.base0D { color: #b3deef; }
.base0E { color: #d3b987; }
.base0F { color: #a16946; }
