/* summercamp by zoe firi (zoefiri.github.io) */

.base00-bg { background-color: #1c1810; }
.base01-bg { background-color: #2a261c; }
.base02-bg { background-color: #3a3527; }
.base03-bg { background-color: #504b38; }
.base04-bg { background-color: #5f5b45; }
.base05-bg { background-color: #736e55; }
.base06-bg { background-color: #bab696; }
.base07-bg { background-color: #f8f5de; }
.base08-bg { background-color: #e35142; }
.base09-bg { background-color: #fba11b; }
.base0A-bg { background-color: #f2ff27; }
.base0B-bg { background-color: #5ceb5a; }
.base0C-bg { background-color: #5aebbc; }
.base0D-bg { background-color: #489bf0; }
.base0E-bg { background-color: #FF8080; }
.base0F-bg { background-color: #F69BE7; }

.base00 { color: #1c1810; }
.base01 { color: #2a261c; }
.base02 { color: #3a3527; }
.base03 { color: #504b38; }
.base04 { color: #5f5b45; }
.base05 { color: #736e55; }
.base06 { color: #bab696; }
.base07 { color: #f8f5de; }
.base08 { color: #e35142; }
.base09 { color: #fba11b; }
.base0A { color: #f2ff27; }
.base0B { color: #5ceb5a; }
.base0C { color: #5aebbc; }
.base0D { color: #489bf0; }
.base0E { color: #FF8080; }
.base0F { color: #F69BE7; }
