/* Humanoid light by Thomas (tasmo) Friese */

.base00-bg { background-color: #f8f8f2; }
.base01-bg { background-color: #efefe9; }
.base02-bg { background-color: #deded8; }
.base03-bg { background-color: #c0c0bd; }
.base04-bg { background-color: #60615d; }
.base05-bg { background-color: #232629; }
.base06-bg { background-color: #2f3337; }
.base07-bg { background-color: #070708; }
.base08-bg { background-color: #b0151a; }
.base09-bg { background-color: #ff3d00; }
.base0A-bg { background-color: #ffb627; }
.base0B-bg { background-color: #388e3c; }
.base0C-bg { background-color: #008e8e; }
.base0D-bg { background-color: #0082c9; }
.base0E-bg { background-color: #700f98; }
.base0F-bg { background-color: #b27701; }

.base00 { color: #f8f8f2; }
.base01 { color: #efefe9; }
.base02 { color: #deded8; }
.base03 { color: #c0c0bd; }
.base04 { color: #60615d; }
.base05 { color: #232629; }
.base06 { color: #2f3337; }
.base07 { color: #070708; }
.base08 { color: #b0151a; }
.base09 { color: #ff3d00; }
.base0A { color: #ffb627; }
.base0B { color: #388e3c; }
.base0C { color: #008e8e; }
.base0D { color: #0082c9; }
.base0E { color: #700f98; }
.base0F { color: #b27701; }
