/* Tokyo City Terminal Light by Michaël Ball */

.base00-bg { background-color: #FBFBFD; }
.base01-bg { background-color: #F6F6F8; }
.base02-bg { background-color: #D8E2EC; }
.base03-bg { background-color: #B7C5D3; }
.base04-bg { background-color: #526270; }
.base05-bg { background-color: #28323A; }
.base06-bg { background-color: #1D252C; }
.base07-bg { background-color: #171D23; }
.base08-bg { background-color: #8C4351; }
.base09-bg { background-color: #965027; }
.base0A-bg { background-color: #8f5E15; }
.base0B-bg { background-color: #33635C; }
.base0C-bg { background-color: #0F4B6E; }
.base0D-bg { background-color: #34548A; }
.base0E-bg { background-color: #5A4A78; }
.base0F-bg { background-color: #7E5140; }

.base00 { color: #FBFBFD; }
.base01 { color: #F6F6F8; }
.base02 { color: #D8E2EC; }
.base03 { color: #B7C5D3; }
.base04 { color: #526270; }
.base05 { color: #28323A; }
.base06 { color: #1D252C; }
.base07 { color: #171D23; }
.base08 { color: #8C4351; }
.base09 { color: #965027; }
.base0A { color: #8f5E15; }
.base0B { color: #33635C; }
.base0C { color: #0F4B6E; }
.base0D { color: #34548A; }
.base0E { color: #5A4A78; }
.base0F { color: #7E5140; }
