/* Sakura by Misterio77 (http://github.com/Misterio77) */

.base00-bg { background-color: #feedf3; }
.base01-bg { background-color: #f8e2e7; }
.base02-bg { background-color: #e0ccd1; }
.base03-bg { background-color: #755f64; }
.base04-bg { background-color: #665055; }
.base05-bg { background-color: #564448; }
.base06-bg { background-color: #42383a; }
.base07-bg { background-color: #33292b; }
.base08-bg { background-color: #df2d52; }
.base09-bg { background-color: #f6661e; }
.base0A-bg { background-color: #c29461; }
.base0B-bg { background-color: #2e916d; }
.base0C-bg { background-color: #1d8991; }
.base0D-bg { background-color: #006e93; }
.base0E-bg { background-color: #5e2180; }
.base0F-bg { background-color: #ba0d35; }

.base00 { color: #feedf3; }
.base01 { color: #f8e2e7; }
.base02 { color: #e0ccd1; }
.base03 { color: #755f64; }
.base04 { color: #665055; }
.base05 { color: #564448; }
.base06 { color: #42383a; }
.base07 { color: #33292b; }
.base08 { color: #df2d52; }
.base09 { color: #f6661e; }
.base0A { color: #c29461; }
.base0B { color: #2e916d; }
.base0C { color: #1d8991; }
.base0D { color: #006e93; }
.base0E { color: #5e2180; }
.base0F { color: #ba0d35; }
