/* Equilibrium Gray Light by Carlo Abelli */

.base00-bg { background-color: #f1f1f1; }
.base01-bg { background-color: #e2e2e2; }
.base02-bg { background-color: #d4d4d4; }
.base03-bg { background-color: #777777; }
.base04-bg { background-color: #5e5e5e; }
.base05-bg { background-color: #474747; }
.base06-bg { background-color: #303030; }
.base07-bg { background-color: #1b1b1b; }
.base08-bg { background-color: #d02023; }
.base09-bg { background-color: #bf3e05; }
.base0A-bg { background-color: #9d6f00; }
.base0B-bg { background-color: #637200; }
.base0C-bg { background-color: #007a72; }
.base0D-bg { background-color: #0073b5; }
.base0E-bg { background-color: #4e66b6; }
.base0F-bg { background-color: #c42775; }

.base00 { color: #f1f1f1; }
.base01 { color: #e2e2e2; }
.base02 { color: #d4d4d4; }
.base03 { color: #777777; }
.base04 { color: #5e5e5e; }
.base05 { color: #474747; }
.base06 { color: #303030; }
.base07 { color: #1b1b1b; }
.base08 { color: #d02023; }
.base09 { color: #bf3e05; }
.base0A { color: #9d6f00; }
.base0B { color: #637200; }
.base0C { color: #007a72; }
.base0D { color: #0073b5; }
.base0E { color: #4e66b6; }
.base0F { color: #c42775; }
