/* Tokyo Night Dark by Michaël Ball */

.base00-bg { background-color: #1A1B26; }
.base01-bg { background-color: #16161E; }
.base02-bg { background-color: #2F3549; }
.base03-bg { background-color: #444B6A; }
.base04-bg { background-color: #787C99; }
.base05-bg { background-color: #A9B1D6; }
.base06-bg { background-color: #CBCCD1; }
.base07-bg { background-color: #D5D6DB; }
.base08-bg { background-color: #C0CAF5; }
.base09-bg { background-color: #A9B1D6; }
.base0A-bg { background-color: #0DB9D7; }
.base0B-bg { background-color: #9ECE6A; }
.base0C-bg { background-color: #B4F9F8; }
.base0D-bg { background-color: #2AC3DE; }
.base0E-bg { background-color: #BB9AF7; }
.base0F-bg { background-color: #F7768E; }

.base00 { color: #1A1B26; }
.base01 { color: #16161E; }
.base02 { color: #2F3549; }
.base03 { color: #444B6A; }
.base04 { color: #787C99; }
.base05 { color: #A9B1D6; }
.base06 { color: #CBCCD1; }
.base07 { color: #D5D6DB; }
.base08 { color: #C0CAF5; }
.base09 { color: #A9B1D6; }
.base0A { color: #0DB9D7; }
.base0B { color: #9ECE6A; }
.base0C { color: #B4F9F8; }
.base0D { color: #2AC3DE; }
.base0E { color: #BB9AF7; }
.base0F { color: #F7768E; }
