/* DanQing by Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com) */

.base00-bg { background-color: #2d302f; }
.base01-bg { background-color: #434846; }
.base02-bg { background-color: #5a605d; }
.base03-bg { background-color: #9da8a3; }
.base04-bg { background-color: #cad8d2; }
.base05-bg { background-color: #e0f0eF; }
.base06-bg { background-color: #ecf6f2; }
.base07-bg { background-color: #fcfefd; }
.base08-bg { background-color: #F9906F; }
.base09-bg { background-color: #B38A61; }
.base0A-bg { background-color: #F0C239; }
.base0B-bg { background-color: #8AB361; }
.base0C-bg { background-color: #30DFF3; }
.base0D-bg { background-color: #B0A4E3; }
.base0E-bg { background-color: #CCA4E3; }
.base0F-bg { background-color: #CA6924; }

.base00 { color: #2d302f; }
.base01 { color: #434846; }
.base02 { color: #5a605d; }
.base03 { color: #9da8a3; }
.base04 { color: #cad8d2; }
.base05 { color: #e0f0eF; }
.base06 { color: #ecf6f2; }
.base07 { color: #fcfefd; }
.base08 { color: #F9906F; }
.base09 { color: #B38A61; }
.base0A { color: #F0C239; }
.base0B { color: #8AB361; }
.base0C { color: #30DFF3; }
.base0D { color: #B0A4E3; }
.base0E { color: #CCA4E3; }
.base0F { color: #CA6924; }
