/* Kimber by Mishka Nguyen (https://github.com/akhsiM) */

.base00-bg { background-color: #222222; }
.base01-bg { background-color: #313131; }
.base02-bg { background-color: #555D55; }
.base03-bg { background-color: #644646; }
.base04-bg { background-color: #5A5A5A; }
.base05-bg { background-color: #DEDEE7; }
.base06-bg { background-color: #C3C3B4; }
.base07-bg { background-color: #FFFFE6; }
.base08-bg { background-color: #C88C8C; }
.base09-bg { background-color: #476C88; }
.base0A-bg { background-color: #D8B56D; }
.base0B-bg { background-color: #99C899; }
.base0C-bg { background-color: #78B4B4; }
.base0D-bg { background-color: #537C9C; }
.base0E-bg { background-color: #86CACD; }
.base0F-bg { background-color: #704F4F; }

.base00 { color: #222222; }
.base01 { color: #313131; }
.base02 { color: #555D55; }
.base03 { color: #644646; }
.base04 { color: #5A5A5A; }
.base05 { color: #DEDEE7; }
.base06 { color: #C3C3B4; }
.base07 { color: #FFFFE6; }
.base08 { color: #C88C8C; }
.base09 { color: #476C88; }
.base0A { color: #D8B56D; }
.base0B { color: #99C899; }
.base0C { color: #78B4B4; }
.base0D { color: #537C9C; }
.base0E { color: #86CACD; }
.base0F { color: #704F4F; }
