/* Equilibrium Dark by Carlo Abelli */

.base00-bg { background-color: #0c1118; }
.base01-bg { background-color: #181c22; }
.base02-bg { background-color: #22262d; }
.base03-bg { background-color: #7b776e; }
.base04-bg { background-color: #949088; }
.base05-bg { background-color: #afaba2; }
.base06-bg { background-color: #cac6bd; }
.base07-bg { background-color: #e7e2d9; }
.base08-bg { background-color: #f04339; }
.base09-bg { background-color: #df5923; }
.base0A-bg { background-color: #bb8801; }
.base0B-bg { background-color: #7f8b00; }
.base0C-bg { background-color: #00948b; }
.base0D-bg { background-color: #008dd1; }
.base0E-bg { background-color: #6a7fd2; }
.base0F-bg { background-color: #e3488e; }

.base00 { color: #0c1118; }
.base01 { color: #181c22; }
.base02 { color: #22262d; }
.base03 { color: #7b776e; }
.base04 { color: #949088; }
.base05 { color: #afaba2; }
.base06 { color: #cac6bd; }
.base07 { color: #e7e2d9; }
.base08 { color: #f04339; }
.base09 { color: #df5923; }
.base0A { color: #bb8801; }
.base0B { color: #7f8b00; }
.base0C { color: #00948b; }
.base0D { color: #008dd1; }
.base0E { color: #6a7fd2; }
.base0F { color: #e3488e; }
