/* dirtysea by Kahlil (Kal) Hodgson */

.base00-bg { background-color: #e0e0e0; }
.base01-bg { background-color: #d0dad0; }
.base02-bg { background-color: #d0d0d0; }
.base03-bg { background-color: #707070; }
.base04-bg { background-color: #202020; }
.base05-bg { background-color: #000000; }
.base06-bg { background-color: #f8f8f8; }
.base07-bg { background-color: #c4d9c4; }
.base08-bg { background-color: #840000; }
.base09-bg { background-color: #006565; }
.base0A-bg { background-color: #755B00; }
.base0B-bg { background-color: #730073; }
.base0C-bg { background-color: #755B00; }
.base0D-bg { background-color: #007300; }
.base0E-bg { background-color: #000090; }
.base0F-bg { background-color: #755B00; }

.base00 { color: #e0e0e0; }
.base01 { color: #d0dad0; }
.base02 { color: #d0d0d0; }
.base03 { color: #707070; }
.base04 { color: #202020; }
.base05 { color: #000000; }
.base06 { color: #f8f8f8; }
.base07 { color: #c4d9c4; }
.base08 { color: #840000; }
.base09 { color: #006565; }
.base0A { color: #755B00; }
.base0B { color: #730073; }
.base0C { color: #755B00; }
.base0D { color: #007300; }
.base0E { color: #000090; }
.base0F { color: #755B00; }
