/* Silk Light by Gabriel Fontes (https://github.com/Misterio77) */

.base00-bg { background-color: #E9F1EF; }
.base01-bg { background-color: #CCD4D3; }
.base02-bg { background-color: #90B7B6; }
.base03-bg { background-color: #5C787B; }
.base04-bg { background-color: #4B5B5F; }
.base05-bg { background-color: #385156; }
.base06-bg { background-color: #0e3c46; }
.base07-bg { background-color: #D2FAFF; }
.base08-bg { background-color: #CF432E; }
.base09-bg { background-color: #D27F46; }
.base0A-bg { background-color: #CFAD25; }
.base0B-bg { background-color: #6CA38C; }
.base0C-bg { background-color: #329CA2; }
.base0D-bg { background-color: #39AAC9; }
.base0E-bg { background-color: #6E6582; }
.base0F-bg { background-color: #865369; }

.base00 { color: #E9F1EF; }
.base01 { color: #CCD4D3; }
.base02 { color: #90B7B6; }
.base03 { color: #5C787B; }
.base04 { color: #4B5B5F; }
.base05 { color: #385156; }
.base06 { color: #0e3c46; }
.base07 { color: #D2FAFF; }
.base08 { color: #CF432E; }
.base09 { color: #D27F46; }
.base0A { color: #CFAD25; }
.base0B { color: #6CA38C; }
.base0C { color: #329CA2; }
.base0D { color: #39AAC9; }
.base0E { color: #6E6582; }
.base0F { color: #865369; }
