/* Qualia by isaacwhanson */

.base00-bg { background-color: #101010; }
.base01-bg { background-color: #454545; }
.base02-bg { background-color: #454545; }
.base03-bg { background-color: #454545; }
.base04-bg { background-color: #808080; }
.base05-bg { background-color: #C0C0C0; }
.base06-bg { background-color: #C0C0C0; }
.base07-bg { background-color: #454545; }
.base08-bg { background-color: #EFA6A2; }
.base09-bg { background-color: #A3B8EF; }
.base0A-bg { background-color: #E6A3DC; }
.base0B-bg { background-color: #80C990; }
.base0C-bg { background-color: #C8C874; }
.base0D-bg { background-color: #50CACD; }
.base0E-bg { background-color: #E0AF85; }
.base0F-bg { background-color: #808080; }

.base00 { color: #101010; }
.base01 { color: #454545; }
.base02 { color: #454545; }
.base03 { color: #454545; }
.base04 { color: #808080; }
.base05 { color: #C0C0C0; }
.base06 { color: #C0C0C0; }
.base07 { color: #454545; }
.base08 { color: #EFA6A2; }
.base09 { color: #A3B8EF; }
.base0A { color: #E6A3DC; }
.base0B { color: #80C990; }
.base0C { color: #C8C874; }
.base0D { color: #50CACD; }
.base0E { color: #E0AF85; }
.base0F { color: #808080; }
