/* darkmoss by Gabriel Avanzi (https://github.com/avanzzzi) */

.base00-bg { background-color: #171e1f; }
.base01-bg { background-color: #252c2d; }
.base02-bg { background-color: #373c3d; }
.base03-bg { background-color: #555e5f; }
.base04-bg { background-color: #818f80; }
.base05-bg { background-color: #c7c7a5; }
.base06-bg { background-color: #e3e3c8; }
.base07-bg { background-color: #e1eaef; }
.base08-bg { background-color: #ff4658; }
.base09-bg { background-color: #e6db74; }
.base0A-bg { background-color: #fdb11f; }
.base0B-bg { background-color: #499180; }
.base0C-bg { background-color: #66d9ef; }
.base0D-bg { background-color: #498091; }
.base0E-bg { background-color: #9bc0c8; }
.base0F-bg { background-color: #d27b53; }

.base00 { color: #171e1f; }
.base01 { color: #252c2d; }
.base02 { color: #373c3d; }
.base03 { color: #555e5f; }
.base04 { color: #818f80; }
.base05 { color: #c7c7a5; }
.base06 { color: #e3e3c8; }
.base07 { color: #e1eaef; }
.base08 { color: #ff4658; }
.base09 { color: #e6db74; }
.base0A { color: #fdb11f; }
.base0B { color: #499180; }
.base0C { color: #66d9ef; }
.base0D { color: #498091; }
.base0E { color: #9bc0c8; }
.base0F { color: #d27b53; }
