/* Tokyo City Terminal Dark by Michaël Ball */

.base00-bg { background-color: #171D23; }
.base01-bg { background-color: #1D252C; }
.base02-bg { background-color: #28323A; }
.base03-bg { background-color: #526270; }
.base04-bg { background-color: #B7C5D3; }
.base05-bg { background-color: #D8E2EC; }
.base06-bg { background-color: #F6F6F8; }
.base07-bg { background-color: #FBFBFD; }
.base08-bg { background-color: #D95468; }
.base09-bg { background-color: #FF9E64; }
.base0A-bg { background-color: #EBBF83; }
.base0B-bg { background-color: #8BD49C; }
.base0C-bg { background-color: #70E1E8; }
.base0D-bg { background-color: #539AFC; }
.base0E-bg { background-color: #B62D65; }
.base0F-bg { background-color: #DD9D82; }

.base00 { color: #171D23; }
.base01 { color: #1D252C; }
.base02 { color: #28323A; }
.base03 { color: #526270; }
.base04 { color: #B7C5D3; }
.base05 { color: #D8E2EC; }
.base06 { color: #F6F6F8; }
.base07 { color: #FBFBFD; }
.base08 { color: #D95468; }
.base09 { color: #FF9E64; }
.base0A { color: #EBBF83; }
.base0B { color: #8BD49C; }
.base0C { color: #70E1E8; }
.base0D { color: #539AFC; }
.base0E { color: #B62D65; }
.base0F { color: #DD9D82; }
