/* Dark Violet by ruler501 (https://github.com/ruler501/base16-darkviolet) */

.base00-bg { background-color: #000000; }
.base01-bg { background-color: #231a40; }
.base02-bg { background-color: #432d59; }
.base03-bg { background-color: #593380; }
.base04-bg { background-color: #00ff00; }
.base05-bg { background-color: #b08ae6; }
.base06-bg { background-color: #9045e6; }
.base07-bg { background-color: #a366ff; }
.base08-bg { background-color: #a82ee6; }
.base09-bg { background-color: #bb66cc; }
.base0A-bg { background-color: #f29df2; }
.base0B-bg { background-color: #4595e6; }
.base0C-bg { background-color: #40dfff; }
.base0D-bg { background-color: #4136d9; }
.base0E-bg { background-color: #7e5ce6; }
.base0F-bg { background-color: #a886bf; }

.base00 { color: #000000; }
.base01 { color: #231a40; }
.base02 { color: #432d59; }
.base03 { color: #593380; }
.base04 { color: #00ff00; }
.base05 { color: #b08ae6; }
.base06 { color: #9045e6; }
.base07 { color: #a366ff; }
.base08 { color: #a82ee6; }
.base09 { color: #bb66cc; }
.base0A { color: #f29df2; }
.base0B { color: #4595e6; }
.base0C { color: #40dfff; }
.base0D { color: #4136d9; }
.base0E { color: #7e5ce6; }
.base0F { color: #a886bf; }
