/* Nebula by Gabriel Fontes (https://github.com/Misterio77) */

.base00-bg { background-color: #22273b; }
.base01-bg { background-color: #414f60; }
.base02-bg { background-color: #5a8380; }
.base03-bg { background-color: #6e6f72; }
.base04-bg { background-color: #87888b; }
.base05-bg { background-color: #a4a6a9; }
.base06-bg { background-color: #c7c9cd; }
.base07-bg { background-color: #8dbdaa; }
.base08-bg { background-color: #777abc; }
.base09-bg { background-color: #94929e; }
.base0A-bg { background-color: #4f9062; }
.base0B-bg { background-color: #6562a8; }
.base0C-bg { background-color: #226f68; }
.base0D-bg { background-color: #4d6bb6; }
.base0E-bg { background-color: #716cae; }
.base0F-bg { background-color: #8c70a7; }

.base00 { color: #22273b; }
.base01 { color: #414f60; }
.base02 { color: #5a8380; }
.base03 { color: #6e6f72; }
.base04 { color: #87888b; }
.base05 { color: #a4a6a9; }
.base06 { color: #c7c9cd; }
.base07 { color: #8dbdaa; }
.base08 { color: #777abc; }
.base09 { color: #94929e; }
.base0A { color: #4f9062; }
.base0B { color: #6562a8; }
.base0C { color: #226f68; }
.base0D { color: #4d6bb6; }
.base0E { color: #716cae; }
.base0F { color: #8c70a7; }
